/*Reset general====================================================================================================================================*/

*{margin: 0;
  padding: 0;
  box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
html,body{height: 100%;}
body{
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400;
    color: #000000;
    font-size: 1em;
    background-image: url(../imagenes/pw_pattern.png);
}

/*Reset general====================================================================================================================================*/


/*Barra de navegación==============================================================================================================================*/

.navbar {
    border-radius: 0px !important;
    margin-bottom: 0px !important;
}
#myNavbar ul{
    float: right;
}
.navbar-nav a{
    color: lightgray !important;
}
.navbar-nav a:hover{
    color: whitesmoke !important;
}
.navbar-brand:hover,:focus {
    color: lightgray !important;
}

/*Fin Barra de navegación==========================================================================================================================*/


/*Carrousel==========================================================================================================================================*/

#myCarousel{
    width: 100%;
    height: 65%;
    margin-top: 5%;
}
.item{
    height: 110%;
    overflow: hidden;
}
.carousel-inner{
    width: 94%!important;
    height: 100%!important;
    margin: 0 auto;
}
.carousel-control {
    width: 3%!important;
    font-size: 20px;
    color: #333333!important;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
    opacity: .5;
}

.carousel-caption {
    padding-top: 10px;
    color: gray;
    text-align: center;
    text-shadow: none!important;

}
.item img{
    width: 100%!important;
    height: auto!important;
    max-width: none!important;

    border: 5px solid whitesmoke;
    box-shadow: 3px 0px 12px 3px rgba(0, 0, 0, 0.06);    
    -webkit-box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
    -moz-box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
    box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
}
.carousel-caption h3{
    font-weight: 300!important;
    padding: 0!important;
    margin: 0!important;
    color: #777;
    font-size: 1.3em;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    border-radius: 10px;
    background-color: lightgray!important;
}
.carousel-indicators li:active {

    background-color: #777!important;
    border: 1px solid #777!important;
}

.carousel-control.left {

    background-image: none !important;
    background-repeat: no-repeat !important;
    padding-left: 40px!important;
}
.carousel-control.right {

    background-image: none !important;
    background-repeat: no-repeat !important;
    padding-right: 40px!important;

}

/*Fin Carrousel=====================================================================================================================================*/





/*Footer============================================================================================================================================*/

footer{
    padding: 20px 0px;
    text-align: center;
}
footer a:focus, a:hover{
    color: #333333 !important;
}
.fa{
    font-size:3em;
    color: grey;
    margin: 0 1px
}

/*Fin Footer=========================================================================================================================================*/


/*Formación==========================================================================================================================================*/
#formacion{
    padding: 20px 20px;
}

.box{
    min-height: 415px !important;
    margin-bottom: 30px;
}
#formacion h2{
    font-size: 1.5em;
    margin: 0 0 10px 0;
    font-weight: 400;
}
#formacion p{
    font-weight: 300;
    margin: 0;
}
.totales{
    float: left;
    width: 100%;
    height: 200px;
    margin-bottom: 20px;
    border: 8px solid #fff;
    -webkit-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #d5d5d5;
}
#dw{
    background-image: url(../imagenes/web_design.jpg);
    background-size: cover;
}
#d3d{
    background-image: url(../imagenes/Laguna.jpg);
    background-size: cover;
}
#fot{
    background-image: url(../imagenes/fotografia.jpg);
    background-size: cover;
}
#dg{
    background-image: url(../imagenes/dg.jpg);
    background-size: cover;
}
#tech{
    background-image: url(../imagenes/tech.jpg);
    background-size: cover;
}
#develop{
    background-image: url(../imagenes/developer.jpg);
    background-size: cover;
}
#apps{
    margin-bottom: 6%;
}
#formacion li{
    font-size: .9em;
    float: left;
    margin: 2px 2px;
    list-style: none;
    padding: 2px 5px;
    background-color: #ebebeb;
    box-shadow: 1px 1px 2px #d5d5d5;
}

/*Fin formación======================================================================================================================================*/


/*Experiencia========================================================================================================================================*/

#experiencia{
    padding: 20px 20px;
}
#experiencia a{
    color: #333333;
    font-weight: 400;
    text-decoration: none;

}
#experiencia a:hover{
    color: #777;
    font-weight: 300;
}
#experiencia h2{
    font-size: 1.5em;
    margin: 0 0 20px 0;
    font-weight: 400;
}
#experiencia h3{
    font-size: 1em;
    margin: 0 0 0px 0;
    font-weight: 400;
}
#experiencia p{
    font-weight: 300;
    margin: 0;
}
.boxExperience{
    width: 25%;
    float: left;
    min-height: 185px;
    padding: 0 5px;
}
/*Experiencia========================================================================================================================================*/


/*Porfolio==========================================================================================================================================*/

#porfolio{
    padding: 20px 20px;
}
#porfolio figure{
    margin-bottom: 30px;
}

#porfolio video[poster]{
    width:100%;
    height: 220px;
    /*    border: 8px solid #fff;*/
    -webkit-box-shadow: 3px 3px 3px #777;
    box-shadow: 3px 3px 3px #d5d5d5;
    margin-bottom: 10px;
}
#porfolio h2{
    font-size: 1.5em;
    margin: 0 0 10px 0;
    font-weight: 400;
}
#porfolio h3{
    font-size: 1em;
    margin: 0 0 0px 0;
    font-weight: 400;
}
#porfolio p{
    font-weight: 300;
    margin: 0;
}

/*Fin porfolio======================================================================================================================================*/


/* Large desktops and laptops */
@media (min-width: 1200px) {

    .boxExperience{
        min-height: 185px;
    }
    /*Carrousel==========================================================================================================================================*/

    .carousel-inner{
        margin: 0 auto;
    }
    .carousel-control {
        width: 3%!important;
        font-size: 20px;
        color: #333333!important;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        filter: alpha(opacity=50);
        opacity: .5;
    }
    .carousel-caption {
        position: relative !important;
        bottom: -5px !important;
        left: 0 !important;
        text-shadow: none !important;
        padding-top: 10px;
        color: gray;
        text-align: center;
    }
    .item img{
        width: 100%!important;
        height: auto!important;
        border: 5px solid whitesmoke;

        box-shadow: 3px 0px 12px 3px rgba(0, 0, 0, 0.06);    
        -webkit-box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
        -moz-box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
        box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
    }
    .carousel-caption h3{
        font-weight: 300!important;
        padding: 0!important;
        margin: 0!important;
        color: #777;
        font-size: 1.3em;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border-radius: 10px;
        background-color: lightgray!important;
    }
    .carousel-indicators li:active {

        background-color: #777!important;
        border: 1px solid #777!important;
    }

    .carousel-control.left {

        background-image: none !important;
        background-repeat: no-repeat !important;
    }
    .carousel-control.right {

        background-image: none !important;
        background-repeat: no-repeat !important;
    }

    /*Fin Carrousel=====================================================================================================================================*/
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    /*Carrousel==========================================================================================================================================*/

    #myCarousel{
        height: 75%;
        margin-top: 1%;
    }
    .carousel-inner{
        width: 94%!important;
        height: 100%!important;
        margin: 0 auto;
    }
    .carousel-control {
        width: 3%!important;
        font-size: 20px;
        color: #333333!important;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        filter: alpha(opacity=50);
        opacity: .5;
    }
    .carousel-caption {
        width: 100%!important;
        height: 20%!important;

        position: relative!important;
        bottom: -5px !important;
        left: 0!important;
        z-index: 10;
        padding: 0!important;
        margin: 0!important;
        color: gray;
        text-align: center;
        text-shadow: none!important;

    }
    .item img{
        width: auto!important;
        height: 80%!important;
        border: 5px solid whitesmoke;

        box-shadow: 3px 0px 12px 3px rgba(0, 0, 0, 0.06);    
        -webkit-box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
        -moz-box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
        box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
    }
    .carousel-caption h3{
        font-weight: 300!important;
        padding: 0!important;
        margin: 0!important;
        color: #777;
        font-size: 1.3em;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border-radius: 10px;
        background-color: lightgray!important;
    }
    .carousel-indicators li:active {

        background-color: #777!important;
        border: 1px solid #777!important;
    }

    .carousel-control.left {

        background-image: none !important;
        background-repeat: no-repeat !important;
    }
    .carousel-control.right {

        background-image: none !important;
        background-repeat: no-repeat !important;
    }

    /*Fin Carrousel=====================================================================================================================================*/
}


/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .boxExperience{
        width: 50%;
        min-height: 160px;
    }
    /*Carrousel==========================================================================================================================================*/

    #myCarousel{
        height: 80%;
        margin-top: 3%;
    }
    /*    .item{
            height: 100%;
        }*/
    .carousel-inner{
        width: 94%!important;
        height: 100%!important;
        margin: 0 auto;
    }
    .carousel-control {
        width: 3%!important;
        font-size: 20px;
        color: #333333!important;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        filter: alpha(opacity=50);
        opacity: .5;
    }
    .carousel-caption {
        width: 100%!important;
        height: 20%!important;

        position: relative!important;
        bottom: -5px !important;
        left: 0!important;
        z-index: 10;


        padding: 0!important;
        margin: 0!important;
        color: gray;
        text-align: center;
        text-shadow: none!important;

    }
    .item img{
        width: auto!important;
        height: 80%!important;
        border: 5px solid whitesmoke;

        box-shadow: 3px 0px 12px 3px rgba(0, 0, 0, 0.06);    
        -webkit-box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
        -moz-box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
        box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);

        position: relative;
        top: 0;
        right: 60%;
    }
    .carousel-caption h3{
        font-weight: 300!important;
        padding: 0!important;
        margin: 0!important;
        color: #777;
        font-size: 1.3em;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border-radius: 10px;
        background-color: lightgray!important;
    }
    .carousel-indicators li:active {

        background-color: #777!important;
        border: 1px solid #777!important;
    }

    .carousel-control.left {

        background-image: none !important;
        background-repeat: no-repeat !important;
    }
    .carousel-control.right {

        background-image: none !important;
        background-repeat: no-repeat !important;
    }

    /*Fin Carrousel=====================================================================================================================================*/
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {

    .boxExperience{
        width: 50%;
        min-height: 160px;
    }

    #myNavbar ul{
        float: left;
    }
    /*Carrousel==========================================================================================================================================*/

    #myCarousel{
        height: 77%;
        margin-top: 2%;
    }
    /*    .item{
            height: 90%;
            margin: 0 10px;
        }*/
    .carousel-inner{
        width: 94%!important;
        height: 100%!important;
        margin: 0 auto;
    }
    .carousel-control {
        width: 3%!important;
        font-size: 20px;
        color: #333333!important;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        filter: alpha(opacity=50);
        opacity: .5;

    }
    .carousel-caption {
        width: 100%!important;
        height: 20%!important;

        position: relative!important;
        bottom: -5px !important;
        left: 0!important;
        z-index: 10;


        padding: 0!important;
        margin: 0!important;
        color: gray;
        text-align: center;
        text-shadow: none!important;

    }
    .item img{
        width: auto!important;
        height: 80%!important;
        border: 5px solid whitesmoke;

        box-shadow: 3px 0px 12px 3px rgba(0, 0, 0, 0.06);    
        -webkit-box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
        -moz-box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
        box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);

        position: relative;
        top: 0;
        right: 60%;
    }
    .carousel-caption h3{
        font-weight: 300!important;
        padding: 0!important;
        margin: 0!important;
        color: #777;
        font-size: 1.3em;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border-radius: 10px;
        background-color: lightgray!important;
    }
    .carousel-indicators li:active {

        background-color: #777!important;
        border: 1px solid #777!important;
    }

    .carousel-control.left {

        background-image: none !important;
        background-repeat: no-repeat !important;
    }
    .carousel-control.right {

        background-image: none !important;
        background-repeat: no-repeat !important;
    }

    /*Fin Carrousel=====================================================================================================================================*/

}

/* Portrait phones and smaller */
@media (max-width: 480px) {

    .boxExperience{
        width: 100%;
        min-height: 0;
    }
    /*Carrousel==========================================================================================================================================*/

    #myCarousel{
        width: 96%;
        height: 77%;
        margin-top: 2%;
    }
    .item{
        height: 90%;
        margin: 0 10px;
    }
    .carousel-inner{
        width: 94%!important;
        height: 100%!important;
        margin: 0 auto;
    }
    .carousel-control {
        width: 3%!important;
        font-size: 20px;
        color: #333333!important;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        filter: alpha(opacity=50);
        opacity: .5;
    }
    .carousel-caption {
        width: 100%!important;
        height: 20%!important;

        position: relative!important;
        bottom: -5px !important;
        left: 0!important;
        z-index: 10;


        padding: 0!important;
        margin: 0!important;
        color: gray;
        text-align: center;
        text-shadow: none!important;


    }
    .item img{
        width: auto!important;
        height: 90%!important;
        border: 5px solid whitesmoke;

        box-shadow: 3px 0px 12px 3px rgba(0, 0, 0, 0.06);    
        -webkit-box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
        -moz-box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
        box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);

        position: relative;
        top: 0;
        right: 80%;
    }
    .carousel-caption h3{
        font-weight: 300!important;
        padding: 0!important;
        margin: 0!important;
        color: #777;
        font-size: 1.3em;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border-radius: 10px;
        background-color: lightgray!important;
    }
    .carousel-indicators li:active {

        background-color: #777!important;
        border: 1px solid #777!important;
    }

    .carousel-control.left {

        background-image: none !important;
        background-repeat: no-repeat !important;
    }
    .carousel-control.right {

        background-image: none !important;
        background-repeat: no-repeat !important;
    }

    /*Fin Carrousel=====================================================================================================================================*/

}


/* Portrait phones and smaller */
@media (max-width: 320px) {
    /*Carrousel==========================================================================================================================================*/

    #myCarousel{
        height: 72%;
        margin-top: 2%;
    }
    .item{
        height: 100%;
        margin: 0 10px;
    }
    .carousel-inner{
        width: 94%!important;
        height: 100%!important;
        margin: 0 auto;
    }
    .carousel-control {
        width: 3%!important;
        font-size: 20px;
        color: #333333!important;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0,0,0,.6);
        filter: alpha(opacity=50);
        opacity: .5;
    }
    .carousel-caption {
        width: 100%!important;
        height: 20%!important;

        position: relative!important;
        bottom: -5px !important;
        left: 0!important;
        z-index: 10;


        padding: 0!important;
        margin: 0!important;
        color: gray;
        text-align: center;
        text-shadow: none!important;

    }
    .item img{
        width: auto!important;
        height: 80%!important;
        border: 5px solid whitesmoke;

        position: relative;
        top: 0;
        right: 80%;

        box-shadow: 3px 0px 12px 3px rgba(0, 0, 0, 0.06);    
        -webkit-box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
        -moz-box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
        box-shadow:3px 0px 12px 3px rgba(0, 0, 0, 0.06);
    }
    .carousel-caption h3{
        font-weight: 300!important;
        padding: 0!important;
        margin: 0!important;
        color: #777;
        font-size: 1.3em;
    }

    .carousel-indicators li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 1px;
        text-indent: -999px;
        cursor: pointer;
        border-radius: 10px;
        background-color: lightgray!important;
    }
    .carousel-indicators li:active {

        background-color: #777!important;
        border: 1px solid #777!important;
    }

    .carousel-control.left {

        background-image: none !important;
        background-repeat: no-repeat !important;
    }
    .carousel-control.right {

        background-image: none !important;
        background-repeat: no-repeat !important;
    }

    /*Fin Carrousel=====================================================================================================================================*/

}
